<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>

    <%- include ('./partials/head.ejs') %>
    <%- include ('./partials/header.ejs') %>


  <form method="POST" action="/exercies/<%= exerciseEdit.id %>?_method=PUT">
    <fieldset>
        <legend><%= exerciseEdit.name %></legend>

        <label for="name">Name</label>
        <input type="text" name="name" value="<%=exerciseEdit.name%>" />

        <label for="Description">Description</label>
        <input type="text" name="Description" value="<%=exerciseEdit.Description%>" />



        <label for="daily">Daily</label>
        <input type="text" name="daily" value="<%=exerciseEdit.daily%>" />

        <br>
        <br>

        <input type="submit" name="" value="Submit Changes"/>
    </fieldset>

    </form>

  </body>
</html>
