<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Health Check</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include ('../partials/head.ejs') %>
    <%- include ('../partials/header.ejs') %>


    <h3><%= one.tip1 %></h1>
    <h3><%= one.tip2 %></h1>
    <h3><%= one.tip3 %></h1>


  </body>
</html>
